{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_admin_author_new' ? 'Ajout' : 'Édition' %}

{% block title %}{{ action }} d'auteur{% endblock %}

{% block body %}
<section class="container px-4">
    <div class="w-50 m-auto">
        <h1>{{ action }} d'auteur</h1>

        {{ form_start(form) }}
        {{ form_row(form.name, {label: 'Nom'}) }}
        {{ form_row(form.dateOfBirth, {label: 'Date de naissance'}) }}
        {{ form_row(form.dateOfDeath, {label: 'Date de décès'}) }}
        {{ form_row(form.nationality, {label: 'Nationalité'}) }}
        {{ form_row(form.books, {label: 'Livres'}) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
