{% extends 'base.html.twig' %}

{% set page_title = book is null ? 'Livre inconnu' : book.title %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 w-75" src="{{ book.cover }}" alt="Couverture de {{ book.title }}" /></div>
                <div class="col-md-6">
                    <div class="small mb-1">ISBN: {{ book.isbn }}</div>
                    <h1 class="display-5 fw-bolder">{{ page_title }}</h1>
                    <div class="fs-5">
                        <span>Auteur(s): {{ book.authors|map(a => a.name)|join(', ') }}</span>
                    </div>
                    <div class="fs-5">
                        <span>Éditeur: {{ book.editor.name }}</span>
                    </div>
                    <div class="fs-5">
                        <span>{{ book.pageNumber }}{{ book.pageNumber is not null ? ' pages' }}</span>
                        <span> - {{ book.editedAt|date('d M Y') }}</span>
                    </div>
                    <div class="fs-5 mb-5">
                        <span>Statut: {{ book.status.getLabel() }}</span>
                    </div>
                    <p class="lead">{{ book.plot }}</p>
                    <div class="d-flex">
                        <a href="{{ path('app_book_index') }}">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                Retour à la liste
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
